@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css");
/* 
font-family: 'NanumGothicLight';
font-family: 'NanumGothic';
font-family: 'NanumGothicBold';
font-family: 'NanumGothicExtraBold';
*/